<%- include('./partials/header'); -%>
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label>Title *</label>
      <input class="form-control" type="text" name="newItem" placeholder="" autocomplete="off" required>
      <label>Post *</label>
      <textarea class="form-control" name="post" cols="40" rows="5" autocomplete="off" required></textarea>
      <label>Image-URL</label>
      <input class="form-control" type="text" name="image" id="" autocomplete="off">
      <label>Author*</label>
      <input class="form-control" type="text" name="author" id="" autocomplete="off" required>
      <label>Date*</label>
      <input class="form-control" type="text" name="date" id="" autocomplete="off" required placeholder="01 JAN 2023">
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Publish</button>

  </form>
  <%- include('./partials/footer'); -%>